body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
  }
  
  canvas {
    background: #222;
    border: 2px solid #555;
  }
  
  /* POPUPS */
  #missionPopup,
  #missionScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hidden {
    display: none !important;
  }
  
  .popup-content {
    background: #333;
    padding: 20px;
    border-radius: 10px;
  }